body {
      padding-top: 50px;
      padding-left: 100px;
    }

#chartArea {
  width: 420px;
  height: 300px;
  background-color: #CCC;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 75px; /* Gets overriden by D3-assigned height below */
  margin-right: 2px;
  fill: teal;
}

.axis path,

.axis line {
  fill:none;
  stroke:black;
  shape-rendering:crispEdges;
}

.axis text{
  font-family: sans-serif;
  font-size: 11px;
}

svg{
  padding: 5px;
}