/*Menu Style*/
.btn-group-vertical{
  position: absolute;
  width: 100px;
  border-style:solid;
  border-width:5px;
  padding: 2px 0px 2px 0px;
}

.btn-group-vertical > p {
  padding: 5px 10px 2px 5px;
}

#menu{
  width: 100px;
  border-style:solid;
  border-width:5px;
  padding: 2px 0px 2px 0px;
}

.selected{
  font-weight:bold;
}

.notselected{
  font-weight:normal;
}
/******* END Menu Style  **********/
/******* Chart Area Style *********/
.chartArea {
 border: 10px solid;
}
/******* END Chart Area Style *********/
/****** DataBase KW Car **************/
.dbKwCard{
  border-style:solid;
  border-width:5px;
  padding: 5px;
}

/******  END KW Car **************/
/*******  Chart Style *********/

/* Axis Style */
.axis path,

.axis line {
  fill:none;
  stroke:black;
  shape-rendering:crispEdges;
}

.axis text{
  font-family: sans-serif;
  font-size: 11px;
}

svg{
  padding: 5px;
}

.dragAnchor{
  position:absoulute;
  width: 100px;
  height: 100px;
}


body {
  font: 10px sans-serif;
}

/*From Scatterplotwithlasso*/
.attr {
  padding: 5px 10px 2px 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}

.not_possible {
  fill:rgb(200,200,200);
}

.possible {
  fill:#EC888C;
}

/*END From Scatterplotwithlasso*/

/* Bar Chart */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
/*End of Bar Chart*/

/*lineChart*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
/*END of LineChart

/******* END of  Chart Style *********/
