/*Menu Style*/
.btn-group-vertical{
  position: absolute;
  border-style:solid;
  border-width:0.2em;
  border-top-width: 2em;
  background-color:rgba(252,255,245,0.5);
  padding: 1em 0.7em 0.7em 1em;
}

.btn-group-vertical > p {
  font-size: 4em;
  opacity: 1;
  text-align: left;
}

.selected{
  font-weight:bold;
}

.notselected{
  font-weight:normal;
}
/******* END Menu Style  **********/
/******* Chart Area Style *********/
.chartArea {
 border: 5px solid;
 box-shadow: 10px 10px 5px #888888;
}
/******* END Chart Area Style *********/
/****** DataBase KW Card **************/
.dbKwCard{
  position:absolute;
  border-style:solid;
  border-width:0.3em;
  border-top-width:2em;
  padding: 2em;
  background-color:rgba(126,138,162,0.5);
  font-size: 2em;
}

.dbKwCard .typeTable td{
  background-color:rgba(252,255,245,0.5);
}

.dataTables_scroll{
  position: relative;
  top: 1em;
}

.dataTables_info{
  position: relative;
  top: 1em;
}

.dataTables_paginate{
  position: relative;
  top: 1em;
}

.dbKwCard td {
  background-color:rgba(252,255,245,0.8);
}

#newGraph{
  font-size: 1.5em;
  margin-top: 1em;
  padding: 0.2em
}

.dbKwCard button {
  background-color:rgba(252,255,245,0.5);
  -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
  -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
  box-shadow: 0px 3px 8px rgb(100,100,100);
  font-size: 1em;
  border-radius: 5px;
}

.dbKwCard .glyphicon{
  font-size: 0.5em;
  padding: 0.2em;
}

.dbKwCardTitle{
  position: relative;
  top:-0.5em;
  font-size: 3em;
  text-align: center;
}

.dbKwCardMenu{
  position: relative;
  top: 3em;
  height: 15em;
}

.dbKwCardMenu label{
  position: relative;
  float: left;
  top:0em;
}

.dbKwCardMenu .dbKwCardMenugraphType {position:absolute;left:40em;top:2em;}
.dbKwCardMenu #create{position:absolute;left:87%;width : 100px;height: 50px;font-size: 150%}

.dbKwCardMenu .selectable { margin:0.4em; list-style-type: none; padding: 0; width: 60%; max-height: 250px; overflow-y: scroll; border-style:solid; border-width:0.4em; }
.dbKwCardMenu .selectable .ui-selecting { background: #FECA40; }
.dbKwCardMenu .selectable .ui-selected { background: #F39814; color: white; }
.dbKwCardMenu .selectable li { font-size: 1.5em; text-align:center  }

fieldset {
  border: 0;
}

select {
  width: 200px;
}
.overflow {
  height: 200px;
}

/******  END KW Card **************/
/*******  Chart Style *********/

/* Axis Style */
.axis path,

.axis line {
  fill:none;
  stroke:black;
  shape-rendering:crispEdges;
}

.axis text{
  font-family: sans-serif;
  font-size: 11px;
}

svg{
  padding: 5px;
}

.dragAnchor{
  position:absoulute;
  width: 100px;
  height: 100px;
}


body {
  font: 10px sans-serif;
}

/*From Scatterplotwithlasso*/
.attr {
  padding: 5px 10px 2px 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}

.not_possible {
  fill:rgb(200,200,200);
}

.possible {
  fill:#EC888C;
}

/*END From Scatterplotwithlasso*/

/* Bar Chart */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
/*End of Bar Chart*/

/*lineChart*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
/*END of LineChart*/

/* map */
.subunit {
  fill: none;
  stroke: #777;
}

/*END of map */

/******* END of  Chart Style *********/
